* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a {
  color: #000;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
:-webkit-any-link, :-webkit-any-link {
  color: #000;
}
:any-link, :-webkit-any-link {
  color: #000;
}

body {
  font-family: "Roboto", sans-serif;
  color: #000;
}

h2 {
  font-size: 1.5rem;
  font-weight: 900;
}

.location {
  font-size: 0.9rem;
  font-weight: 500;
}

footer {
  font-family: "Shrikhand", cursive;
  color: #fff;
}

footer .footer__list a span, footer .footer__list a h3 {
  font-family: "Roboto", sans-serif;
  color: #fff;
}

.menu__title {
  font-family: "Shrikhand", cursive;
  font-size: 1.7rem;
}

.booking__btn, .menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3.125rem;
  padding: 0 1.25rem;
  color: #fff;
  border-radius: 2rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: all 1000ms;
  transition: all 1000ms;
  -webkit-box-shadow: 0 5px 1rem rgba(0, 0, 0, 0.22);
          box-shadow: 0 5px 1rem rgba(0, 0, 0, 0.22);
}

.booking__btn:hover, .menu__btn:hover {
  -webkit-box-shadow: 0 5px 1rem rgba(0, 0, 0, 0.66);
          box-shadow: 0 5px 1rem rgba(0, 0, 0, 0.66);
  background: -webkit-gradient(linear, left top, left bottom, from(#ff93e1), to(#a16be0));
  background: linear-gradient(to bottom, #ff93e1, #a16be0);
}

.loader {
  margin: 0 auto;
  text-align: center;
  position: fixed;
  z-index: 1001;
  width: 100%;
  height: 100%;
  -webkit-animation: hide-section 0.01s 2.4s forwards;
          animation: hide-section 0.01s 2.4s forwards;
}

.loader__item {
  border: 3px solid transparent;
  border-top-color: #9356DC;
  margin: 0 auto;
  width: 9rem;
  height: 9rem;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -4.5rem;
  margin-top: -4.5rem;
  border-radius: 50%;
  z-index: 1001;
  -webkit-animation: loader 1.5s linear 0s infinite,  loader-opacity 0.4s ease-in-out 2s forwards;
          animation: loader 1.5s linear 0s infinite,  loader-opacity 0.4s ease-in-out 2s forwards;
}

.loader__item::before {
  content: "";
  position: absolute;
  border: 3px solid transparent;
  border-top-color: #99E2D0;
  border-radius: 50%;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  -webkit-animation: loader 2.5s linear 0s infinite;
          animation: loader 2.5s linear 0s infinite;
}

.loader__item::after {
  content: "";
  position: absolute;
  border: 3px solid transparent;
  border-top-color: #FF79DA;
  border-bottom-color: #FF79DA;
  border-radius: 50%;
  top: 43px;
  left: 43px;
  right: 33px;
  bottom: 43px;
  -webkit-animation: antiloader 0.3s linear 0s infinite;
          animation: antiloader 0.3s linear 0s infinite;
}

.loader__section {
  position: absolute;
  width: 50.5%;
  height: 100%;
  z-index: 1000;
  top: 0;
  background: #353535;
}

.section-left {
  left: 0;
  -webkit-animation: move-section-left 0.4s ease-in-out 2s forwards;
          animation: move-section-left 0.4s ease-in-out 2s forwards;
}

.section-right {
  right: 0;
  -webkit-animation: move-section-right 0.4s ease-in-out 2s forwards, hide-section 0.1s 2.4s forwards;
          animation: move-section-right 0.4s ease-in-out 2s forwards, hide-section 0.1s 2.4s forwards;
}

@-webkit-keyframes loader {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loader {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes antiloader {
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes antiloader {
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@-webkit-keyframes move-section-left {
  to {
    -webkit-transform: translateX(-101%);
            transform: translateX(-101%);
  }
}

@keyframes move-section-left {
  to {
    -webkit-transform: translateX(-101%);
            transform: translateX(-101%);
  }
}

@-webkit-keyframes move-section-right {
  to {
    -webkit-transform: translateX(101%);
            transform: translateX(101%);
    opacity: 0;
  }
}

@keyframes move-section-right {
  to {
    -webkit-transform: translateX(101%);
            transform: translateX(101%);
    opacity: 0;
  }
}

@-webkit-keyframes hide-section {
  to {
    -webkit-transform: translateX(-101%);
            transform: translateX(-101%);
    opacity: 0;
  }
}

@keyframes hide-section {
  to {
    -webkit-transform: translateX(-101%);
            transform: translateX(-101%);
    opacity: 0;
  }
}

@-webkit-keyframes loader-opacity {
  100% {
    opacity: 0;
    z-index: -1001;
  }
}

@keyframes loader-opacity {
  100% {
    opacity: 0;
    z-index: -1001;
  }
}

.item-restaurant__img--flag {
  width: 5rem;
  height: 1.875rem;
  color: #008766;
  font-weight: 600;
  font-size: 0.9rem;
  text-align: center;
  padding-top: 0.5rem;
  background-color: #99E2D0;
  border-radius: 2px;
}

.header {
  position: relative;
  z-index: 50;
}

.header__logo {
  padding: 1.5rem 0 1rem 0;
  text-align: center;
}

.header__logo a {
  font-size: 1.25rem;
  position: absolute;
  left: 1.3rem;
  top: 1.9rem;
}

footer {
  background-color: #353535;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}

footer .footer__title {
  margin-bottom: 1.4rem;
  font-size: 1.1rem;
}

.list-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.list-footer__item {
  margin-bottom: 0.5rem;
}

.item-footer {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.item-footer__icon {
  display: block;
  width: 1.5rem;
  text-align: center;
  margin-right: 0.5rem;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: 0px auto;
}

@media (min-width: 576px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 768px) {
  .container {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

@media (min-width: 992px) {
  .container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1340px;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
}

.location {
  display: block;
  background-color: #EAEAEA;
  -webkit-box-shadow: inset 0 0.7rem 0.7rem -0.7rem rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0.7rem 0.7rem -0.7rem rgba(0, 0, 0, 0.2);
  padding: 1rem;
  text-align: center;
}

.location__icon {
  margin-right: 0.5rem;
}

.booking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F6F6F6;
  padding-top: 2rem;
  padding-bottom: 2.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.booking__title {
  margin: 0.6rem 2rem;
}

.booking h2, .booking p {
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  text-align: center;
}

.booking p {
  color: rgba(0, 0, 0, 0.7);
  line-height: 1.2rem;
}

.booking__btn {
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}

.functioning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 3.125rem;
  padding-bottom: 2.5rem;
}

.functioning__title {
  margin-bottom: 1.875rem;
}

.step-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 992px) {
  .step-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.step-list__item {
  margin-bottom: 1.5rem;
  height: 4.6875rem;
  width: 100%;
  margin-left: 0.75rem;
  background-color: #F6F6F6;
}

@media (min-width: 992px) {
  .step-list__item {
    margin-right: 1rem;
  }
}

.item-step {
  border-radius: 1.5rem;
  -webkit-box-shadow: 5px 5px 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 5px 5px 1rem rgba(0, 0, 0, 0.15);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}

.item-step:hover {
  background-color: #F5EDFF;
}

.item-step:hover .item-step__icon {
  color: #9356DC;
}

.item-step__num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background-color: #9356DC;
  color: #fff;
  position: absolute;
  left: -0.6rem;
}

.item-step__icon {
  margin-left: 1.5rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 3rem;
          flex: 0 0 3rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

.item-step__action {
  justify-self: flex-start;
  font-weight: 500;
}

.restaurants {
  background-color: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 3.5rem;
  padding-bottom: 2.5rem;
}

.restaurants__title {
  margin-bottom: 1.4rem;
}

.list-restaurant {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 16rem 16rem 16rem 16rem;
      grid-template-rows: 16rem 16rem 16rem 16rem;
  grid-row-gap: 1.2rem;
}

@media (min-width: 992px) {
  .list-restaurant {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 16rem 16rem;
        grid-template-rows: 16rem 16rem;
    grid-row-gap: 1.2rem;
    grid-column-gap: 1.2rem;
  }
}

.list-restaurant__frame {
  border-radius: 1rem;
  background-color: #fff;
  overflow: hidden;
}

.item-restaurant {
  height: 100%;
}

.item-restaurant__text {
  height: 5rem;
  padding: 0.75rem;
}

.item-restaurant__img {
  min-height: 11rem;
  position: relative;
  overflow: hidden;
}

.item-restaurant__img--flag {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
}

.item-restaurant__img img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

@-webkit-keyframes coeur {
  0% {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 121, 218, 0)), to(rgba(147, 86, 220, 0)));
    background: linear-gradient(0deg, rgba(255, 121, 218, 0), rgba(147, 86, 220, 0));
  }
  100% {
    background: -webkit-gradient(linear, left bottom, left top, from(#ff79da), to(#9356dc));
    background: linear-gradient(0deg, #ff79da, #9356dc);
  }
}

@keyframes coeur {
  0% {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 121, 218, 0)), to(rgba(147, 86, 220, 0)));
    background: linear-gradient(0deg, rgba(255, 121, 218, 0), rgba(147, 86, 220, 0));
  }
  100% {
    background: -webkit-gradient(linear, left bottom, left top, from(#ff79da), to(#9356dc));
    background: linear-gradient(0deg, #ff79da, #9356dc);
  }
}

.text-restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-right: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-restaurant__detail {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.text-restaurant__icon--hidden {
  font-size: 1.5rem;
  position: relative;
  -webkit-text-stroke: 1px transparent;
  background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), to(#9356DC));
  background: linear-gradient(0deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.55rem;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 1000ms;
  transition: -webkit-transform 1000ms;
  transition: transform 1000ms;
  transition: transform 1000ms, -webkit-transform 1000ms;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.text-restaurant__icon--test {
  position: relative;
  right: 0px;
  font-size: 1.5rem;
  color: transparent;
  -webkit-text-stroke: 1px black;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 121, 218, 0)), to(rgba(147, 86, 220, 0)));
  background: linear-gradient(0deg, rgba(255, 121, 218, 0), rgba(147, 86, 220, 0));
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 1;
}

.text-restaurant__icon--test:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#ff79da), to(#9356dc));
  background: linear-gradient(0deg, #ff79da, #9356dc);
  -webkit-text-stroke: 1px transparent;
  font-size: 1.51rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.text-restaurant__icon--test::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 121, 218, 0)), to(rgba(147, 86, 220, 0)));
  background: linear-gradient(0deg, rgba(255, 121, 218, 0), rgba(147, 86, 220, 0));
  -webkit-text-stroke: 1px black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-restaurant__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  position: relative;
  right: -24px;
  font-size: 1.5rem;
  -webkit-text-stroke: 1px black;
  color: transparent;
  -webkit-transition: all 1s;
  transition: all 1s;
  display: block;
}

.text-restaurant__icon:hover {
  -webkit-text-stroke: 1px white;
}

.text-restaurant__icon:hover + .text-restaurant__icon--hidden {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.detail-restaurant {
  list-style: none;
}

.detail-restaurant__name {
  font-weight: 700;
  margin-bottom: 0.5rem;
}

@-webkit-keyframes move-category {
  from {
    -webkit-transform: translateX(-120%);
            transform: translateX(-120%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes move-category {
  from {
    -webkit-transform: translateX(-120%);
            transform: translateX(-120%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.container-page {
  padding-left: 0.9rem;
  padding-right: 0.9rem;
  margin: 0px auto;
}

@media (min-width: 576px) {
  .container-page {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 768px) {
  .container-page {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 992px) {
  .container-page {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

@media (min-width: 1200px) {
  .container-page {
    max-width: 1340px;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.carte__img {
  position: relative;
  overflow: hidden;
  height: 16.25rem;
}

.carte__img img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

.carte__menu {
  background-color: #F6F6F6;
  border-radius: 2.5rem 2.5rem 0 0;
  position: relative;
  z-index: 1;
  top: -2.6rem;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 2.125rem;
  padding-bottom: 2.125rem;
  padding-left: 0.5rem;
}

.menu__title i {
  width: 3.5rem;
  text-align: center;
  -webkit-text-stroke: 1px black;
  color: transparent;
}

.menu__btn {
  margin-top: 0.5rem;
  margin-bottom: 4.375rem;
  width: 12rem;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.category-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.category-list__item {
  margin-bottom: 2.75rem;
}

.category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.category__title {
  margin-bottom: 0.5rem;
  padding-left: 0.5rem;
  color: rgba(0, 0, 0, 0.7);
}

.category__line {
  height: 3px;
  width: 2.5rem;
  background-color: #99E2D0;
  margin-left: 0.5rem;
}

.category--1 {
  -webkit-animation: move-category 0.5s ease-in-out 0.4s both;
          animation: move-category 0.5s ease-in-out 0.4s both;
}

.category--2 {
  -webkit-animation: move-category 0.5s ease-in-out 0.6s both;
          animation: move-category 0.5s ease-in-out 0.6s both;
}

.category--3 {
  -webkit-animation: move-category 0.5s ease-in-out 0.8s both;
          animation: move-category 0.5s ease-in-out 0.8s both;
}

.list-dish {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.list-dish__item {
  margin-top: 0.9rem;
  padding-left: 0.5rem;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4.375rem;
  border-radius: 1rem;
  overflow: hidden;
  background-color: #fff;
  position: relative;
}

.item__name {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item__name li {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.item__name li:first-child {
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.item__name li:last-child {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.7);
}

.item__price {
  padding-top: 1.25rem;
  width: 3.75rem;
  text-align: center;
  font-weight: 700;
}

.item__checked {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 0px;
  justify-self: center;
  text-align: center;
  background-color: #99E2D0;
  color: #fff;
  height: 100%;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.item:hover .item__checked {
  width: 3.75rem;
}

.footer-page {
  -webkit-transform: translateY(-2.6rem);
          transform: translateY(-2.6rem);
}
