$breakpoints: (
	sm-screen: 576px,
	md-screen: 768px,
	lg-screen: 992px,
	xl-screen: 1200px
);
$colour-body-primary:  #000;
$colour-body-footer: #fff;
$color-text-contrast: #fff;
$colour-text-btn: #fff;
$colour-bg-location: #EAEAEA;
$colour-bg-booking: #F6F6F6;
$colour-bg-booking-item-hover:#F5EDFF;
$colour-bg-restautants: #F6F6F6;
$colour-bg-footer: #353535;
$colour-bg-item: #fff;
$colour-primary:#9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-text-flag: #008766;