body {
	font-family: "Roboto", sans-serif;
	color: $colour-body-primary;
}
h2 {
	font-size: 1.5rem;
	font-weight: 900;
}
%font-location{
	font-size: 0.9rem;
	font-weight: 500;
}
%font-footer{
	font-family: "Shrikhand", cursive;
	color: $colour-body-footer;
}
%font-footer-elements{
	font-family: "Roboto", sans-serif;
	color: $colour-body-footer;
}
//<i class="far fa-check-circle">